:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 7% 15%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3{
  text-align: left;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #686868;
  cursor: pointer;
  transition: border-color 0.25s;
  /* margin-top: 10%; */
}

button:hover {
  border-color: #646cff;
  background-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.remove-button{
  background-color: #990000;
}

button.submit-button{
  margin-top: 20px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul{
  /* list-style-type:none; */
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
}

input.input-list{
  border-radius: 5px;
  border-style: none;
  height: 30px;
}

hr{
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration:line-through;
}


